.* { border: 1px solid red;}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.content {
    flex: 1 0 auto;
}

header, footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

footer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.logo {
    font-size: 24px;
    font-weight: 1000;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 16px;
}

.title {
    display: flex;
    padding: 100px;
    justify-content: space-around;
}

.mainimg {
    height: 150px;
    width: 300px;
    border: 2px solid lightblue;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.hero {
    flex: 1;
}