.* { border: 1px solid red;}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.content {
    flex: 1 0 auto;
}

header, footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

footer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
}

.logo {
    font-size: 24px;
    font-weight: 1000;
    width: 200px;
    height: 75px;
    background-color: gray;
}

.menu a {
    text-decoration: none;
    color: #E7E8EB;
}

.menu ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 16px;
    list-style-type: none;
}

.title {
    display: flex;
    padding: 100px;
    justify-content: space-around;
    gap: 16px;
}

.mainimg {
    height: 175px;
    width: 350px;
    border: 2px solid lightblue;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
}

.hero {
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}

.subtext {
    color: #E7E8EB;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.articles {
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}

.otter {
    object-fit: cover;
    height: 150px;
    width: 150px;
    align-self: center;
    border-radius: 10px;
    border: 2px solid #3882F6;
}

